<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>824960746885-tpoeoiftlpk4hguc3dodr5ho0kich8sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824960746885-tpoeoiftlpk4hguc3dodr5ho0kich8sb</string>
	<key>API_KEY</key>
	<string>AIzaSyC6124oQXPXgv1GmaGIDN_4LLIoDrMEWDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>824960746885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.modacity-admin</string>
	<key>PROJECT_ID</key>
	<string>modacity-a613a</string>
	<key>STORAGE_BUCKET</key>
	<string>modacity-a613a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824960746885:ios:6f1ff321d8fcfa25</string>
	<key>DATABASE_URL</key>
	<string>https://modacity-a613a.firebaseio.com</string>
</dict>
</plist>