<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>playlists</key>
	<dict>
		<key>playlist1</key>
		<dict>
			<key>id</key>
			<string>playlist1</string>
			<key>name</key>
			<string>Learning Modacity</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>1000</string>
					<key>note</key>
					<string>Use session-level notes to store reflections, plans, and bigger goals</string>
				</dict>
				<dict>
					<key>id</key>
					<string>2000</string>
					<key>note</key>
					<string>How about you archive these notes and write your own goal for learning to practice with Modacity?</string>
				</dict>
				<dict>
					<key>id</key>
					<string>3000</string>
					<key>note</key>
					<string>You can access session-level notes in 3 places</string>
					<key>subtitle</key>
					<string>From the home screen's 'Practice Sessions' tab, press the '...' menu button and select 'Details' to see notes.
Or, on the practice session planning page, press the upper right hand corner's Note icon.
Finally you can access the session's notes on the Congratulations Screen after finishing practice, in case you want to add final reflections or to-dos</string>
				</dict>
			</array>
			<key>practice_items</key>
			<array>
				<dict>
					<key>id</key>
					<string>entry-playlist1-1000</string>
					<key>item_id</key>
					<string>playlist1-10000</string>
				</dict>
				<dict>
					<key>id</key>
					<string>entry-playlist1-2000</string>
					<key>item_id</key>
					<string>playlist1-20000</string>
				</dict>
				<dict>
					<key>id</key>
					<string>entry-playlist1-30000</string>
					<key>item_id</key>
					<string>playlist1-30000</string>
				</dict>
				<dict>
					<key>id</key>
					<string>entry-playlist1-40000</string>
					<key>item_id</key>
					<string>playlist1-40000</string>
				</dict>
				<dict>
					<key>count_down_duration</key>
					<integer>194</integer>
					<key>id</key>
					<string>entry-playlist1-50000</string>
					<key>item_id</key>
					<string>playlist1-50000</string>
				</dict>
				<dict>
					<key>id</key>
					<string>entry-playlist1-60000</string>
					<key>item_id</key>
					<string>playlist1-60000</string>
				</dict>
				<dict>
					<key>id</key>
					<string>entry-playlist1-70000</string>
					<key>item_id</key>
					<string>playlist1-70000</string>
				</dict>
				<dict>
					<key>id</key>
					<string>entry-playlist1-80000</string>
					<key>item_id</key>
					<string>playlist1-80000</string>
				</dict>
			</array>
		</dict>
		<key>playlist2</key>
		<dict>
			<key>id</key>
			<string>playlist2</string>
			<key>name</key>
			<string>EXAMPLE: Audition List</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>4000</string>
					<key>note</key>
					<string>For mock auditions, use shake to shuffle to randomize the order!</string>
				</dict>
			</array>
			<key>practice_items</key>
			<array>
				<dict>
					<key>id</key>
					<string>entry-visualization-1000</string>
					<key>item_id</key>
					<string>visualization-1000</string>
				</dict>
				<dict>
					<key>id</key>
					<string>entry-playlist2-10000</string>
					<key>item_id</key>
					<string>playlist2-10000</string>
				</dict>
				<dict>
					<key>id</key>
					<string>entry-playlist2-20000</string>
					<key>item_id</key>
					<string>playlist2-20000</string>
				</dict>
				<dict>
					<key>id</key>
					<string>entry-playlist2-30000</string>
					<key>item_id</key>
					<string>playlist2-30000</string>
				</dict>
			</array>
		</dict>
		<key>playlist3</key>
		<dict>
			<key>id</key>
			<string>playlist3</string>
			<key>name</key>
			<string>EXAMPLE: Daily Routine</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>5000</string>
					<key>note</key>
					<string>Tap the name of the session to rename it</string>
				</dict>
			</array>
			<key>practice_items</key>
			<array>
				<dict>
					<key>count_down_duration</key>
					<integer>300</integer>
					<key>id</key>
					<string>entry-scales-1000</string>
					<key>item_id</key>
					<string>scales-1000</string>
				</dict>
				<dict>
					<key>count_down_duration</key>
					<integer>90</integer>
					<key>id</key>
					<string>entry-improvisation-1000</string>
					<key>item_id</key>
					<string>improvisation-1000</string>
				</dict>
				<dict>
					<key>count_down_duration</key>
					<integer>60</integer>
					<key>id</key>
					<string>entry-id-visualization-20000</string>
					<key>item_id</key>
					<string>visualization-20000</string>
				</dict>
				<dict>
					<key>count_down_duration</key>
					<integer>300</integer>
					<key>id</key>
					<string>entryid-scales-1000</string>
					<key>item_id</key>
					<string>scales-1000</string>
				</dict>
				<dict>
					<key>count_down_duration</key>
					<integer>90</integer>
					<key>id</key>
					<string>entryid-playlist3-improvisation-1000</string>
					<key>item_id</key>
					<string>improvisation-1000</string>
				</dict>
				<dict>
					<key>id</key>
					<string>entryid-playlist3-technical-1000</string>
					<key>item_id</key>
					<string>technical-1000</string>
				</dict>
				<dict>
					<key>count_down_duration</key>
					<integer>1800</integer>
					<key>id</key>
					<string>entryid-playlist3-playlist2-30000</string>
					<key>item_id</key>
					<string>playlist2-30000</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>practices</key>
	<dict>
		<key>improvisation-1000</key>
		<dict>
			<key>id</key>
			<string>improvisation-1000</string>
			<key>name</key>
			<string>Improvisation Games</string>
			<key>visible</key>
			<true/>
		</dict>
		<key>playlist1-10000</key>
		<dict>
			<key>id</key>
			<string>playlist1-10000</string>
			<key>name</key>
			<string>Modacity Overview</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID</string>
					<key>note</key>
					<string>👋
👉 TAP HERE FIRST</string>
					<key>subtitle</key>
					<string>Congrats! You're already practicing with Modacity.

We will use these practice notes to help you learn the app.

This tutorial is a Modacity practice session, so you can track your time and mastery.

To delete this note, press the trash icon at the top right.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID2</string>
					<key>note</key>
					<string>Why Modacity, in 2 sentences</string>
					<key>subtitle</key>
					<string>No matter what your instrument or genre, Modacity helps you practice better and "master faster".

You'll be more efficient, effective, joyful, and focused.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID3</string>
					<key>note</key>
					<string>Swipe up to archive this note, then press "Done"</string>
				</dict>
			</array>
			<key>visible</key>
			<false/>
		</dict>
		<key>playlist1-20000</key>
		<dict>
			<key>id</key>
			<string>playlist1-20000</string>
			<key>name</key>
			<string>What are Practice Items?</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID4</string>
					<key>note</key>
					<string>How to define items</string>
					<key>subtitle</key>
					<string>A "practice item" is anything you practice.

In general they should take 30 seconds to 5 minutes to perform.

Visit the Practice Items tab or press the big "+" button, and start typing in the search bar to create your own.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID5</string>
					<key>note</key>
					<string>Choosing item names</string>
					<key>subtitle</key>
					<string>If you can name it you can tame it.

Consider writing fun, empowering names like "Scales - Fluent" instead of just "Scales".

You may break songs into components like "Autumn Leaves - Chords" and "Autumn Leaves - Soloing".

Classical musicians, break your bigger pieces into chunks like "K.417 - Exposition", and also define an item for the entire performance like "K. 417 - Friendly, Accurate Performance"</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID6</string>
					<key>note</key>
					<string>❤️ Favorite Items</string>
					<key>subtitle</key>
					<string>Press the ️️heart icon to mark an item as favorite. 

This puts it on the home screen for quick access</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID7</string>
					<key>note</key>
					<string>Details, Rename, Duplicate, Delete</string>
					<key>subtitle</key>
					<string>On the practice item list, press the "..." button to reveal these options.

Details gives you access to that item's statistics, recordings, notes, and history.

Duplicate is great for quickly creating related items like "Arpeggios - Major", "Arpeggios - Minor", "Arpeggios - Whole Tone", etc.

Delete removes a practice item from your data and saved practice sessions, but all practice history remains</string>
				</dict>
			</array>
			<key>visible</key>
			<false/>
		</dict>
		<key>playlist1-30000</key>
		<dict>
			<key>id</key>
			<string>playlist1-30000</string>
			<key>name</key>
			<string>The Tao of Practice Sessions</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID8</string>
					<key>note</key>
					<string>What are Practice Sessions</string>
					<key>subtitle</key>
					<string>Organize your practice items into practice sessions.

There are a couple examples included, and you can make your own.

Press the "+" button on the home screen, select at least one item, and press "Add to Practice Session"</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID09</string>
					<key>note</key>
					<string>Organizing Tips</string>
					<key>subtitle</key>
					<string>Press and drag items to re-order your session.

Shake the phone to shuffle.

Use the "...Duplicate" option to create interleaved practice sessions, e.g. A-B-A-C-A-D format</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID10</string>
					<key>note</key>
					<string>Naming &amp; Saving</string>
					<key>subtitle</key>
					<string>You must give a session a name to save it. Otherwise, it's temporary.

When you save a practice session, it remembers the order and timers, and will track statistics for the session</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID11</string>
					<key>note</key>
					<string>Starting &amp; Finishing</string>
					<key>subtitle</key>
					<string>On the Practice Session detail page, press the Start button or any item to start practicing.

When you're done, press "Finish" and your progress will be saved</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID12</string>
					<key>note</key>
					<string>Bright Ideas 💡</string>
					<key>subtitle</key>
					<string>Consider some possibilities...

Create practice sessions for each day of the week, assigning themes to each day. Use numbers to force ordering.

E.g.,
 "1 - Monday - Physical Ease",
 "2 - Tuesday - Dynamics", etc.

Use the "Duplicate Session" feature with date-stamped sessions to plan and calendar similar days' practice.

Set up a technical exercises session contaning all your technique in one place. Use shake to shuffle and just work 20 minutes of random technique each day.

Create a whole session for a single piece of music. Define related items (using duplicate item) for multiple aspects or sections of the music, and sequence them onto your session.</string>
				</dict>
			</array>
			<key>visible</key>
			<false/>
		</dict>
		<key>playlist1-40000</key>
		<dict>
			<key>id</key>
			<string>playlist1-40000</string>
			<key>name</key>
			<string>The Practicing Screen - Walkthrough</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID13</string>
					<key>note</key>
					<string>👉 Summary of Practice Screen</string>
					<key>subtitle</key>
					<string>The timer just tracks time. Tap to pause it.

Self-recording is right below. Saving is optional! (see "Note on Recordings")

The toolbar at the bottom is documented in "Learn the Tools"

Press "Done" to finish practicing an item and rate your mastery</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID14</string>
					<key>note</key>
					<string>Note on Recordings</string>
					<key>subtitle</key>
					<string>Self-recording is your friend!

Press the big record button to start/stop recording.

Modacity is built for fast "scratchpad"-style recording. You must press the "download" button to save your recordings.

Saved recordings are available in the item details or from the home screen's "Overview" menu.

Recordings are saved locally inside Modacity, and are *not* uploaded to the cloud.

Go ahead and archive this note and make a quick recording!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID15</string>
					<key>note</key>
					<string>Learn the Tools</string>
					<key>subtitle</key>
					<string>The toolbar at the bottom of the screen has 5 functions:

1. Deliberate Practice - Press if you want to make an improvement.
2. MetroDrone - Use for pulsed drones or regular click.
3. Notes - Track todos, journals, anything you want.
4. Timer - set a countdown timer.
5. Chat - we love hearing from you! Ask practice questions, make Modacity suggestions, or just say hi.

Go ahead and exit this note and press the 'Improve' button.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID16</string>
					<key>note</key>
					<string>Remember, swipe up to archive! You can always unarchive.</string>
					<key>subtitle</key>
					<string>This is a great way to do cyclical practice. E.g., create a note for every key of major scales. Swipe up when you practice that key.

 Once you've worked through all keys, unarchive them and go through the cycle again.</string>
				</dict>
			</array>
			<key>visible</key>
			<false/>
		</dict>
		<key>playlist1-50000</key>
		<dict>
			<key>id</key>
			<string>playlist1-50000</string>
			<key>name</key>
			<string>Time &amp; Timers in Modacity</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID17</string>
					<key>note</key>
					<string>Timer Modes</string>
					<key>subtitle</key>
					<string>Modacity offers count-up and count-down timers when practicing.

No matter what, we track all time spent practicing, and show it in your history/stats.

Use the timer tool on the practicing screen or Practice Session view.

To clear a countdown timer, activate the timer tool and delete all time, then press the checkmark to save.

After pressing "Done", you will only be asked to rate mastery if a timer is finished
</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID18</string>
					<key>note</key>
					<string>Tricks &amp; Tips</string>
					<key>subtitle</key>
					<string>The duplicate button copies timers. Use this!

You can tap the up/down arrows next to the time display to switch modes between count-up and count-down.

💡There's an optional setting to have timers paused during note-taking &amp; deliberate practice. See "Settings"</string>
				</dict>
			</array>
			<key>visible</key>
			<false/>
		</dict>
		<key>playlist1-60000</key>
		<dict>
			<key>id</key>
			<string>playlist1-60000</string>
			<key>name</key>
			<string>App Settings, Sync, and Audio</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID19</string>
					<key>note</key>
					<string>Where are Settings?</string>
					<key>subtitle</key>
					<string>You can only access settings outside of practice sessions. From the home screen press the top left "hamburger" icon to access settings.
There are too many to list here!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID20</string>
					<key>note</key>
					<string>Sync &amp; App Data</string>
					<key>subtitle</key>
					<string>You can access your Modacity account on more than one device and sync data.

This currently requires manual sync, which can be accessed at Settings...App Data...Refresh

Note: Currently, recordings are not uploaded or sync'd.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID21</string>
					<key>note</key>
					<string>Audio Settings &amp; Info</string>
					<key>subtitle</key>
					<string>You can use external devices such as microphones or bluetooth speakers.

We are planning a sound settings panel for more control in future versions.

Privacy: Just a confirmation, audio is private and we don't listen to you practice. That's your job! Use that self-recording feature, friend!</string>
				</dict>
			</array>
			<key>visible</key>
			<false/>
		</dict>
		<key>playlist1-70000</key>
		<dict>
			<key>id</key>
			<string>playlist1-70000</string>
			<key>name</key>
			<string>Misc. Practice Wisdom</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID21</string>
					<key>note</key>
					<string>Practice Strategies</string>
					<key>subtitle</key>
					<string>Generally speaking, set up a practice rhythm of "perform, listen, reflect, improve". Modacity makes this super easy.

If you are learning a new piece, consider working from the back to the front. It helps create comfort.

Transform all negativity into constructive thought or action. "My intonation sucks" is an example of destructive thinking. If such a thought arises, transform it to the nearest positive neighbor, such as "I value intonation and am working to improve it now".

Nobody is perfect. Don't strive for perfection, strive for authenticity, flow, and fully engaged musicianship</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID23</string>
					<key>note</key>
					<string>Getting over resistance to recording</string>
					<key>subtitle</key>
					<string>It's natural to feel resistant to recording and listening to yourself.

And, it's incredibly important to get over it.

You cannot practice well without fully listening to yourself! Taking time to listen is easy on the body, good for the mind, and creates overall faster progress. It also teaches you to appreciate yourself and listen constructively.

Time spent self-recording is time well spent.

Choose to get over any hesitations and just do it!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID24</string>
					<key>note</key>
					<string>When to Deliberate Practice</string>
					<key>subtitle</key>
					<string>What if there was a button you could push any time you want to get better?

Well there is, and it's exclusively in Modacity.

Press the improve button whenever things aren't going as you'd like.

Usually some mindful strategizing will do wonders.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID25</string>
					<key>note</key>
					<string>The practice of practice</string>
					<key>subtitle</key>
					<string>Spend a few moments each day reflecting on the quality of your practice.

If you get a little better each day at the art and science of practice, your gains will compound.

Use the practice session note-taking tool to log reflections &amp; next actions</string>
				</dict>
			</array>
			<key>visible</key>
			<false/>
		</dict>
		<key>playlist1-80000</key>
		<dict>
			<key>id</key>
			<string>playlist1-80000</string>
			<key>name</key>
			<string>The future of Modacity</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID26</string>
					<key>note</key>
					<string>Our vision &amp; mission</string>
					<key>subtitle</key>
					<string>We envision a world where everyone makes music. Fluency in the universal language is needed more than ever, and truly quality practice is the solution.

Our mission is to empower &amp; connect musicians with quality tech and supportive community</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID27</string>
					<key>note</key>
					<string>The Modacity roadmap</string>
					<key>subtitle</key>
					<string>Next up... tuner, spaced repetition, folders &amp; tags, video, practice packs, social features, and more!

We love hearing from you and can't wait to keep building Modacity for our growing community. Send us some love if you have any feedback or suggestions!</string>
				</dict>
			</array>
			<key>visible</key>
			<false/>
		</dict>
		<key>playlist2-10000</key>
		<dict>
			<key>id</key>
			<string>playlist2-10000</string>
			<key>name</key>
			<string>EXAMPLE: Ein Heldenleben</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID27</string>
					<key>note</key>
					<string>Super centered intonation - Practice w/ MetroDrone</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID28</string>
					<key>note</key>
					<string>Be Heroic! Communicate the message</string>
				</dict>
			</array>
			<key>visible</key>
			<true/>
		</dict>
		<key>playlist2-20000</key>
		<dict>
			<key>id</key>
			<string>playlist2-20000</string>
			<key>name</key>
			<string>EXAMPLE: Ravel - Bolero</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID28</string>
					<key>note</key>
					<string>Use notes to track to-dos. Swipe up to archive!</string>
				</dict>
			</array>
			<key>visible</key>
			<true/>
		</dict>
		<key>playlist2-30000</key>
		<dict>
			<key>id</key>
			<string>playlist2-30000</string>
			<key>name</key>
			<string>EXAMPLE: Concerto Exposition - Musicianship!</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID28</string>
					<key>note</key>
					<string>Tap to read about sub-items</string>
					<key>subtitle</key>
					<string>This is an example of a "sub-item". 

We will be supporting hierarchal organization in the future. 

For now your best bet is to name different sections for large pieces.</string>
				</dict>
			</array>
			<key>visible</key>
			<true/>
		</dict>
		<key>scales-1000</key>
		<dict>
			<key>id</key>
			<string>scales-1000</string>
			<key>name</key>
			<string>EXAMPLE: Scales 2 Octaves</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID29</string>
					<key>note</key>
					<string>Feel free to rename or delete</string>
					<key>subtitle</key>
					<string>You can use this item, rename it, or delete it.</string>
				</dict>
			</array>
			<key>visible</key>
			<true/>
		</dict>
		<key>technical-1000</key>
		<dict>
			<key>id</key>
			<string>technical-1000</string>
			<key>name</key>
			<string>EXAMPLE: Technical Drill</string>
			<key>notes</key>
			<array>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID30</string>
					<key>note</key>
					<string>The MetroDrone will save your tempo &amp; key!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>replaceMeWithAProperID31</string>
					<key>note</key>
					<string>Perform technical drills with great musicianship...</string>
				</dict>
			</array>
			<key>visible</key>
			<true/>
		</dict>
		<key>visualization-1000</key>
		<dict>
			<key>id</key>
			<string>visualization-1000</string>
			<key>name</key>
			<string>Visualization</string>
			<key>visible</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
