<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default_suggestions</key>
	<array>
		<string>Visualize a perfect outcome</string>
		<string>Perform it as a single gesture</string>
		<string>Simplify the concept</string>
	</array>
	<key>suggestions</key>
	<array>
		<dict>
			<key>id</key>
			<string>01</string>
			<key>suggestion</key>
			<string>Notes</string>
			<key>hypos</key>
			<array>
				<string>Sing the notes slowly and accurately</string>
				<string>Visualize getting right notes before playing</string>
				<string>Simplify the passage</string>
				<string>Insist on note accuracy</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>02</string>
			<key>suggestion</key>
			<string>Rhythm</string>
			<key>hypos</key>
			<array>
				<string>Play with MetroDrone</string>
				<string>Sing the rhythm</string>
				<string>Slowwwww dowwnnnn</string>
				<string>Higher standard for precision</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>03</string>
			<key>suggestion</key>
			<string>Consistency</string>
			<key>hypos</key>
			<array>
				<string>Narrow the focus for consistency</string>
				<string>Do it 3-5x the same</string>
				<string>Slowwwww dowwnnnn</string>
				<string>Allow it to happen</string>
				<string>Clarify today&apos;s achievable standard</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>04</string>
			<key>suggestion</key>
			<string>Tone</string>
			<key>hypos</key>
			<array>
				<string>Imagine the desired sound</string>
				<string>Free the body of stiffness</string>
				<string>Imagine performing in a bigger space</string>
				<string>Breathe more fully</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>05</string>
			<key>suggestion</key>
			<string>Emotion</string>
			<key>hypos</key>
			<array>
				<string>Feel stronger emotion</string>
				<string>Let the feeling evolve</string>
				<string>Visualize a meaningful scene</string>
				<string>Tell a story</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>06</string>
			<key>suggestion</key>
			<string>Phrasing</string>
			<key>hypos</key>
			<array>
				<string>Clarify high and low points</string>
				<string>Sing and conduct</string>
				<string>Exaggerate phrasing</string>
				<string>Focus on ending well</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>07</string>
			<key>suggestion</key>
			<string>Technique</string>
			<key>hypos</key>
			<array>
				<string>Sense body-sound connection</string>
				<string>Isolate and repeat</string>
				<string>Strive for perfection</string>
				<string>Exaggerate flaws, then avoid them</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>08</string>
			<key>suggestion</key>
			<string>Enjoyment</string>
			<key>hypos</key>
			<array>
				<string>Have more fun!</string>
				<string>Forgive flaws and appreciate reality</string>
				<string>Avoid self-judgment and stay present</string>
				<string>Smile before and during performance</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>09</string>
			<key>suggestion</key>
			<string>Ease</string>
			<key>hypos</key>
			<array>
				<string>Have more fun!</string>
				<string>Forgive flaws and appreciate reality</string>
				<string>Avoid self-judgment and stay present</string>
				<string>Smile before and during performance</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
