<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347857065571-hgm3f08l06lkknopk3chsjntkg6fjq31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347857065571-hgm3f08l06lkknopk3chsjntkg6fjq31</string>
	<key>API_KEY</key>
	<string>AIzaSyA86vlN8lrE2-yR6zAQ7UdwmMDkgesuIpk</string>
	<key>GCM_SENDER_ID</key>
	<string>347857065571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.modacity.staging</string>
	<key>PROJECT_ID</key>
	<string>modacity-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>modacity-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347857065571:ios:c817a5364d63e224</string>
	<key>DATABASE_URL</key>
	<string>https://modacity-staging.firebaseio.com</string>
</dict>
</plist>